
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;
}

p,ul{
	font-family: Roboto Condensed;
	letter-spacing: 1px;
	padding: 50px 0px;
	font-size: 1.3em;
	color: white;
}

h1{
	font-family: Roboto;
	font-size: 2.5em;
	color: white;
}

h2,h3{
	font-family: Roboto;
	font-size: 2em;
}

nav{
  	background-color: #C12127;
 	color: rgba(255,255,255,0.8);
 	padding-top: 10px;
 	height: 30px;
}

nav a{
 	color: rgba(255,255,255,0.8);
 	text-decoration: none;
}

.heart{
	margin: 0px 20px 0px 200px;
}

.top-left{
	float:left;
}

.top-links{
	float: right;
 	margin: 0px 200px 0px 0px;
}

nav ul{
	padding: 0px;
}

.top-links li{
	display: inline;
 	margin: 0 10px;
}

header{
	background-image: url("images/city-scape.svg");
	height: 650px;
}


.search{
	padding: 20px;
	padding-left: 200px; 
	color: white;
}

.img{
	float: left;
}

.search form{
	float: left;
	width: 75%;
}

.buildamazingthings{
	width: 300px;
	position: relative;
	top: 100px;
	left: 20%;
	;
}

#orgs{
	background-color: rgb(39, 53, 71);
	height: 650px;
	position: relative;
}

#orgs .img{
	position: relative;
	left: 20%;
	top: 140px;
	padding-right:5%;
}

#orgs article{
	color: white;
	display: inline-block;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	left: 20%;
	width: 500px;
}

#whatisnpm{
	background-image: url("images/forklift.svg");
	height: 500px;
	color: white;
}

#whatisnpm article{
	position: relative;
	left: 25%;
	top: 120px;
	width: 300px;
}

#whatnpmdoes p{
	color: black;
	margin: 0 auto;
	
}

#whatnpmdoes{
	padding: 20px;
	text-align: center;
}

.question {
	text-align: center;
}

.answers{
	display: inline-block;
}

.answers article{
	width: 300px;
	text-align: center;
	float: left;
	margin: 20px;
}

.button{
	background-color: black;
	color: white;
	font-family: Roboto;
	padding: 15px 60px;
	border-radius: 40px;
	text-decoration: none;
}

#button1{
	background-color: rgb(240, 146, 51);
}

#button2{
	background-color: rgb(203, 56, 55);
}

#button3{
	background-color: rgb(49, 68, 88);
}

#search form{
	display: inline-block;
	text-align: center;
}

.searchbox{
	width: 90%;
	border-radius: 10px;
	height: 30px;
	background-color: rgb(31, 82, 111);
	border: 0px;
	color: white;
	padding: 0px 10px;
}

.link{
	color: white;
	font-family: Roboto;
}